html, body {
    height: 100%;
    width: 100%;

    position: relative;
}

.container {
    display: flex;
    flex-direction: row;
    justify-items: start;

    height: 100%;
    width: 100%;
    position: absolute;
}

#map {
    width: 100%;
    height: 100%;

    position: absolute;
}

#side-bar-hide-btn {
    font-family: 'IBM Plex Sans KR', sans-serif;
    position: absolute;
    top: 40%;
    right: -20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    border: 1px solid lightgrey;
}

#side-bar-hide-btn:hover {
    background-color: rgb(228, 230, 231);
}


#side-bar {
    /*width: 25%;*/
    border-right: solid 1px lightgrey;
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 378px;
    height: 100%;
}

.relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.side-elem-title {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: large;
    font-weight: bold;
    padding: 10px;
}

.side-elem {
    border-bottom: solid 1px lightgrey;
    padding: 10px;
}

#select-industry {
    font-family: 'IBM Plex Sans KR', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, auto));
    gap: 5px;
    justify-items: center;
    margin: 10px;
}

.select-industry-detail {
    padding: 10px;
}

.select-industry-detail:hover {
    background-color: lightgrey;
    transition: 0.3s;
    border-radius: 10px;
}

#find-location-btn {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: medium;
    background-color: #41637d;
    border-radius: 10px;
    border:none;
    padding: 15px;
    width: 100%;
    color: #FFF;
    font-weight: bold;
}

#find-location-btn:hover {
    background-color: lightgrey;
    transition: 0.3s;
    font-weight: bold;
}

body {
    margin: 0;
}






/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/*768 이상이면 해당 스타일 시트 적용*/
/*@media screen and (min-width:768px) and (max-width:1023px) {*/
/*    #side-bar {*/
/*        width: 40%;*/
/*    }*/

/*    #map {*/
/*        width: 60%;*/
/*    }*/
/*}*/

/*!* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*!*/
/*@media screen and (max-width:767px) {*/
/*        #side-bar {*/
/*            width: 80%;*/
/*        }*/

/*        #map {*/
/*            width: 20%;*/
/*        }*/
/*}*/

/*pc*/
/*@media screen and (min-width: 1200px) {*/
/*    #side-bar {*/
/*        width: 25%;*/
/*    }*/

/*    #map {*/
/*        width: 75%;*/
/*    }*/
/*}*/

/*!*태블릿 가로*!*/
/*@media screen and (min-width: 1024px) and (max-width: 1119px) {*/
/*    #side-bar {*/
/*        width: 40%;*/
/*    }*/

/*    #map {*/
/*        width: 60%;*/
/*    }*/
/*}*/

/*태블릿 가로, 세로 & pc 작은 화면*/
/*@media screen and (min-width: 768px) and (max-width: 1023px) {*/
/*    #side-bar {*/
/*        width: 60%;*/
/*    }*/

/*    #map {*/
/*        width: 40%;*/
/*    }*/
/*}*/

/*!*모바일, 태블릿 세로*!*/
/*@media screen and (max-width: 767px) {*/
/*    #side-bar {*/
/*        width: 90%;*/
/*    }*/

/*    #map {*/
/*        width: 10%;*/
/*    }*/
/*}*/